html{
    box-sizing: border-box;
}
*, 
*::before,
*::after{
    box-sizing: inherit;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}  
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 400;
}
p{
    margin: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $text;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
.btn{
    width: 190px;
    height: 55px;
    border-radius: 28px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    padding: 17px;
    line-height: 21px;
    color: $blue;
    cursor: pointer;
}
.violet{
    color: $violet;
}
.blue{
    color: $blue;
}
.breadcrumbs{
    &__inner{
        padding: 38px 0px 30px;
    }
    &__list{
        li{
            display: inline-block;
            position: relative; 
            & + li{
                padding-left: 25px;
                &::before{
                    content: '/';
                    position: absolute;
                    left: 8px;
                    color: #fff;
                }
            }
            &:last-child{
                a, 
                span{
                    color: #bfcad7;
                } 
            }
        }
        a{
            color: #fff;
        }
    }
}
