@import 'vars';
@import 'global';
@import 'fonts';

//start header
.header__top-wrapper{
    background-color: $bgdark;
}
.header__top{
    padding: 25px 0px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__registration{
    border-radius: 18px;
    background-color: $blue;
    color: #fff;
    text-align: center;
    padding: 4px 18px;
    font-size: 14px;
    line-height: 28px;
    margin-right: 50px;
}
.header__icon{ 
    color: #7e8fa1;
    font-size: 20px;
    margin-right: 35px;
    font-family: 'Linearicons-Free';
    position: relative;
    span{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        right: -17px;
        top: -15px;
        position: absolute;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        line-height: 22px;
        text-align: center;  
    }
}
.lnr-alarm span{
    background-color: #ff6a6c;
}
.lnr-envelope span{
    background-color: #62d03b;
}
.header__icon.lnr-cart span{
    background-color: $blue;
}
.header__user{
    padding-left: 72px;
    margin-left: 13px;
    position: relative;
    img{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: -5px;
        left: 0;
    }
    a{
        display: block;
    }
}    
.header__user-name{
    color: $grey;
    line-height: 22px;
    font-weight: 500;
}
.header__user-balance{
    font-size: 15px;
    line-height: 22px;
    color: $blue;
}
.header__bottom{
    height: 80px;
    padding: 17px 0px;
    background-color: #fff;
}
.header__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 35px;
    & a{
        font-weight: 500;
        color: $grey;
    }
    
}
.header__search{
    position: relative;
    margin: 0;
    input{
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        padding: 7px 85px 7px 25px;
        outline: none;
        width: 360px;
        position: relative;
        line-height: 30px;
        margin: 0;
        &:placeholder{
            color: #898f96;
            font-size: 15px;        
        } 
    }
    button{
        padding: 0;
        position: absolute;
        height: 100%;
        width: 70px;
        border-radius: 23px;
        background-color: $blue;
        border: none;
        outline: none;
        top: 0;
        right: 0;
        &::after{
        content: "\e86f";
        font-family: 'Linearicons-Free';
        position: absolute;
        top: 16px;
        right: 30px;
        font-size: 15px;
        color: #fff;
        }
    }
}
//end header
//start search
.search{
    min-height: 725px;
    background-color: #294cce;
    text-align: center;
    padding: 150px 0px;
    color: #f3f3f8;
    position: relative;
    p{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 70px;
    }
}
.search__title{
    font-size: 60px;
    line-height: 70px;
    padding-top: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    span{
        font-weight: 400;
    }
}
.search__btn{
    color: #fff;
    background-color: $blue;
    padding: 10px;
    border: 1px solid #fff;
    margin-bottom: 40px;
    transition: all .3s;
    padding: 20px;
    & + .search__btn{
        margin-left: 30px;
    }
    &:hover{
        background-color: #fff;
        color: $blue;  
    }
}
.search__form-wrapper{
    position: absolute;
    bottom: -69px;
}
.search__form{
    min-width: 1140px;
    padding: 40px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.08);
    line-height: 42px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after,
    &::before{
        content: '';
        position: absolute;
        top: -13px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        height: 13px;
        background-color: #fff;
        opacity: 0.5;
    }
    &::after{
        width: 1080px;
        top: -26px;
        right: 30px;
        height: 26px;
    }
    &::before{
        width: 1110px;
        right: 15px;
    }
    .search__form-inner{
        border: 1px solid #dcdcdc;
        border-radius: 4px;
    }
    select,
    input{
        padding: 6px 17px;
        border-style: none;
        border-right: none;
        display: inline-block;
        height: 56px;
        outline: none;
        &placeholder{
            color: #676767;
            line-height: 42px;
        }
    }
    input{
        width: 609px;
    }
    select{
        width: 190px;
        option{
            text-transform: none;  
            line-height: 42px;
            height: 42px;
            padding: 6px 17px;
        }
    }
    a{
        width: 223px;
        margin-left: 30px;
        background-color: $blue;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        line-height: 41px;
        padding: 7px 20px;
    }
}
//end search
//start advantages
.advantages{
    padding: 100px 0px;
    .advantages__inner{
        display: flex;
        justify-content: space-between;
    }
}
.advantages__item{
    margin-top: 80px;
    margin-bottom: 20px;
    width: 360px;
    text-align: center;
    padding: 50px 35px;
    &:hover{
        transition: all .3s;
        box-shadow:0px 2px 25px rgba(0,0,0,0.08);
    }
    img{
        margin-bottom: 35px;
    }
    .advantages__title{
        font-size: 24px;
        color: #000;
        margin-bottom: 40px;
    }
}
//end advantages
//start slider
.slider{
    background-color: $bgdark;
    padding: 120px 0px;
}
.slider__title{
    padding: 40px 30px;
    font-size: 30px;
    color: #000;
    background-color: #fff;
    box-shadow:0px 2px 2px rgba(108,111,115,0.1);
    border-radius: 4px;
    margin-bottom: 50px;
    font-weight: 400;
}
.slider__item{
    border-radius: 4px;
    &-wrapper{
        display: flex;
        justify-content: space-between;
    }  
} 
.slider__img{
    width: 555px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}   
.slider__content{
    padding: 50px 50px 25px;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(147,155,168,0.1);
    color: #000;
    width: 586px;
    p{
        margin-top: 35px;
        margin-bottom: 40px;
    }   
}
.slider__teg{
    font-size: 15px;
    line-height: 30px;
    padding: 0px 15px;
    color: #868c96;
    background-color: #f1f3f6;
    border-radius: 14px;
    margin-bottom: 44px;
    & + .slider__teg{
        margin-left: 7px;
    }
}
.slider__item-title{
    font-size: 24px;
    font-weight: 500; 
    margin-bottom: 20px;
}
.slider__item-user{
    font-size: 15px;
    position: relative;
    padding-left: 40px;
    margin-right: 28px;
    span{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: -7px;
        left: 0;
    }
}    
.slider__item-category{
    color: $violet;
    font-size: 15px;
    padding-left: 25px;
    position: relative;
    span{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.slider__box{
    position: relative;
    padding-top: 23px;
    &::before{
        content: '';
        width: 485px;
        height: 1px;
        background-color: #ececec;
        position: absolute;
        top: 0px;
    }
}
.slider__box-icon{
    display: inline-block;
    color: $violet;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Linearicons-Free';
    &:hover{
        color: $blue;
    }
    span{
        margin-left: 10px;
        margin-right: 19px;
        font-size: 15px;
        color: $text;
        &:hover{
            color: $blue;
        }
    }
}
.slider__item-price{
    padding: 8px 17px;
    color: #fff;
    background-color: $blue;
    border-radius: 16px;
    display: inline-block;
    margin-right: 20px;
}
.slider__item-star{
    display: inline-block;
    position: absolute;
    top: 33px;
    right: 0;
}


.slick-arrow{
    font-size: 14px;
    border:none;
    outline: none;
    position: absolute;
    top: -115px;
    right: 30px;
    z-index: 5;
    cursor: pointer;
    transform: translateY(-50%);
    width: 55px;
    height: 45px;
    background-color: $violet;
    
    color: #fff;
}
.slick-next{
    right: 30px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
.slick-prev{
    right: 85px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;

}


//end slider

//start newest
.newest{
    padding: 120px 0px;
    background-color: $bglight;
}
.newest__title.slider__title{
    padding: 45px 30px;
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    span{
        position: absolute;
        color: #747b86;
        font-size: 16px;
        line-height: 30px;
        right: 60px;
        top: 50px;
    }
}
.newest__filter{
    padding-right: 30px;
    position: relative;
    &::after{
        content: url(../images/newest__filter-icon.png);
        position: absolute;
        right: 0;
    }
}

.newest__category-btn{
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(90,93,100,0.1);
    height: 92px;
    margin-bottom: 50px;
    button{
        background-color: #f1f3f6;
        padding: 10px 20px;
        border: none;
        border-radius: 16px;
        margin-right: 10px;
        color: #747b86;
        font-size: 15px;
        transition: all .3s;
        outline: none;
        &.mixitup-control-active{
            background-color: $blue;
            color: #fff;
        }
    }
}
.newest__img-box{
    &:hover .newest__img{
        display: none;
    }
    &:hover .newest__img-hover{
        display: block;
        height: 230px;
    }  
}
.newest__img{
    width: 361px;
    border-radius: 4px;
    height: 230px; 
    display: block;
}
.newest__img-hover{
    display: none;
    padding: 90px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    a{ 
        width: 130px;
        height: 45px;
        border-radius: 22px;
        box-shadow: 0px 4px 7.5px rgba(0,0,0,0.15);
        border: 1px solid #f4f4f4;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        padding: 15px;
        text-align: center;
        transition: all 0.3s;
        & + a{
            margin-left: 10px;
        }
        &:hover{
            background-color: #fff;
            color: $blue;
        }
    }
    
}
.newest__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.newest__item{
    .slider__content{
        padding: 30px 30px 15px;
        box-shadow: 0px 2px 2px rgba(108,111,115,0.1);
        width: 360px;
        margin-bottom: 30px;
        p{
            margin-top: 30px;
            margin-bottom: 35px;
        }
    }
    .slider__item-title{
        font-size: 20px;
    }
    .slider__item-user{
        margin-right: 20px;
        color: #000;
        span{
            width: 28px;
            height: 28px;
        }
    }
    .slider__item-category{
        font-size: 16px;
        padding-left: 25px;
        span{
            width: 15px;
            height: 15px;
        }
    }
    .slider__item-price{
        background-color: #e6f1fd;
        color: $blue;
        font-weight: 500;
    }
    .slider__box-icon.lnr-heart{
        span{
            color: #6f7d8d;
            margin-left: 8px;
        }
    }
    .slider__box-icon.lnr-cart{
        position: absolute;
        right: 0;
        color: $blue;
        span{
            color: $blue;
        }
    }
    .slider__box{
        padding-top: 15px;
        &::before{
            width: 100%;
        }
    } 
}  
.newest__btn{
    display: block;
    background-color: $blue;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    border: none;
    outline: none;
}  
#MixItUpD0E640{
    justify-content: space-around;
}  
//end newest
//start followers
.followers,
.news{
    background-color: $bgdark;
    padding: 120px 0px;
}
.followers{
    .slick-arrow{
        background-color: $blue;
    }
}
//end followers
//start statistics
.statistics{
    background-color: #212225;
}
.statistics__inner{
    display: flex;
    justify-content: space-between;
    padding: 95px 0px;
}
.statistics__item{
    font-size: 36px;
    line-height: 36px;
    position: relative;
    padding-top: 90px;
    text-align: center;
    span{
        font-size: 18px;
        color: #fff;
        display: block;
        margin-top: 20px;
    }
    &::before{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.lnr-briefcase,
.lnr-cloud-download,
.lnr-smile,
.lnr-users{
    font-size: 48px;
    line-height: 48px;
    font-family: 'Linearicons-Free';
}
.lnr-briefcase{
    color: #feb71d;
}
.lnr-cloud-download{
    color: #58c9e9;
}
.lnr-smile{
    color: #77de51;
}
.lnr-users{
    color: #ff6a6d;
}
//end statistics
//start reasons
.reasons{
    padding: 115px 0px 90px;
}
.reasons__title,
.clients__title,
.news__title{
    font-size: 36px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    a{
        color: $blue;
    }
}
.reasons__subtitle{
    max-width: 700px;
    margin: 0 auto 60px;
    text-align: center;
}
.reasons__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reasons__item{
    max-width: 360px;
    margin-bottom: 25px;
    padding: 50px 35px;
    text-align: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.08);
}
.reasons__item-number{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #5c87f8;
    font-size: 48px;
    font-weight: 300;
    opacity: 0.2;
}

.reasons__icon{
    font-size: 60px;
    font-family: 'Linearicons-Free';
    display: block;
    margin-bottom: 50px;
}
.reasons__item-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
}
.lnr-license{
    color: $blue;
}
.lnr-magic-wand{
    color: #7f4ec2;
}
.lnr-lock{
    color: #77de51;
}
.lnr-chart-bars{
    color: #feb71d;
}
.lnr-leaf{
    color: #58c9e9;
}
.lnr-phone{
    color: #ff6a6d;
}
.reasons__item-title{
    font-size: 24px;
    color: #000;
}
//end reasons
//start invite
.invite__inner{
    display: flex;
    justify-content: center;
}
.invite__item{
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    color: #fff;
    width: 100%;
}
.invite__title{
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
}
.invite__subtitle{
    margin:0 auto 50px;
    max-width: 530px;
}
//end invite
//start clients
.clients{
    padding: 120px 0px;
}
.clients__title,
.news__title{
    margin-bottom: 35px;
}
.clients__subtitle,
.news__subtitle{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}
.clients__inner,
.news__inner{
    display: flex;
    justify-content: space-between;
}
.clients__item{
    padding: 50px 40px;
    width: 555px;
    border-radius: 4px;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.08);
    margin-bottom: 60px;
    border-left: 2px solid $blue;
    position: relative;
    &::before{
        content: "\e83f";
        position: absolute;
        font-size: 60px;
        color: #e8e8e8;
        font-family: 'Linearicons-Free';
        top: 56px;
        right: 43px;
    }
    img{
        margin-right: 20px;
        border-radius: 50%;
        float: left;
    }
    & + .clients__item{
        margin-left: 30px;
    }
}
.clients__name{
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}
.clients__profession{
    margin-bottom: 50px;
}
.clients__btn{
    background-color: $blue;
    color: #fff;
    margin: 0 auto;
}
//end clients
//start news
.news__item{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .slider__content{
        padding: 30px 30px 25px;
        box-shadow: 0px 2px 2px rgba(108,111,115,0.1);
        width: 360px;
        p{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .slider__item-title{
        font-size: 22px;
        font-weight: 500;
    }        
}
.news__box{
    padding-top: 20px;
    border-top: 1px solid #ececec;
    background-color: #fff;
    
}
.news__icons{
    font-size: 15px;
    font-family: 'Linearicons-Free';
    color: #7e7e7e;
}
.news__icons-date{
    color: #999;
    position: relative;
    padding-left: 25px;
    padding-right: 47px;
    &::before{
        content: "\e864";
        position: absolute;
        left: 0;
        color: $blue;
    }
    &::after{
        content: "";
        position: absolute;
        height: 40px;
        width: 1px;
        background-color: #ececec;
        right: 0;
        bottom: -17px;
    }
}
.news__icons-coment{
    color: #7e7e7e;
    position: relative;
    padding-left: 22px;
    margin-right: 28px;
    margin-left: 28px;
    &::before{
        content: "\e83f";
        position: absolute;
        left: 0;
    }
}
.news__icons-view{
    color: #7e7e7e;
    position: relative;
    padding-left: 22px;
    &::before{
        content: "\e81b";
        position: absolute;
        left: 0;
    }
}
//end news
//start info
.info__inner{
    display: flex;
    justify-content: center;
}
.info__item{
    text-align: center;
    padding: 60px;
    max-width: 571px;
    width: 100%;
    & + .info__item{
        border-left: 1px solid #e8eaf3;
    }
    img{
        margin-bottom: 30px;
    }
}
.info__disc{
    font-size: 24px;
    color: #000;
    >a{
        color: $blue;
    }
}
//end info
//start join
.join__bottom{
    padding: 110px 0px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.join__bottom-title{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 23px;
}
.join__bottom-subtitle{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 50px;
}
.join__btn{
    margin: 0 auto;
}
//end join
//start footer
.footer{
    background-color: #262b30;
}
.footer__top{
    padding: 115px 0px 105px;
    display: flex;
    justify-content: space-between;
}
.footer__item{
    max-width: 185px;
    font-size: 15px;
    color: #ababab;
    & + .footer__item{
        margin-left: 30px;
    }
    p{
        margin-top: 35px;
        margin-bottom: 30px;

    }
    .header__search{
        position: relative;
        margin: 0;
        margin-bottom: 50px;
        input{
            border: 1px solid #d9dfe5;
            border-radius: 23px;
            padding: 7px 85px 7px 25px;
            outline: none;
            width: 360px;
            position: relative;
            line-height: 30px;
            margin: 0;
            &:placeholder{
                color: #898f96;
                font-size: 15px;        
            } 
        }
        button{
            padding: 0;
            position: absolute;
            width: 110px;
            border-radius: 23px;
            background-color: $blue;
            border: none;
            outline: none;
            top: 0;
            right: 0;
            color: #fff;
            &::after{
            content: "";
            font-family: 'Linearicons-Free';
            position: none;
            top: 0;
            right: 0;
            font-size: 0;
            color: transparent;
            }
        }
    }
}
.footer__contact-phone,
.footer__contact-mail,
.footer__contact-map{
    font-size: 15px;
    color: #ababab;
    display: block;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
    &::before{
        font-size: 16px;
        color: #fff;
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
    }
}
.footer__contact-phone{
    &::before{
        content: "\e830";
    } 
}
.footer__contact-mail{
    &::before{
        content: "\e818";
    }  
}
.footer__contact-map{
    &::before{
        content: "\e833";
        top: 50%;
        transform: translateY(-50%);
    }    
}
.footer__contact{
    max-width: 264px;
}
.footer__social{
    max-width: 360px;
}
.footer__item-title{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
}
.footer__item-list{
    li{
        margin-bottom: 20px;
    }
}
.social__icon{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
    position: relative;
    &::before{
        position: absolute;
        font-family: 'icomoon' !important;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    & + .social__icon{
        margin-left: 13px;
    }
}
.icon-facebook{
    background-color: #395799;
}        
.icon-twitter{
    background-color: #19b2f5;
}                   
.icon-google{
    background-color: #f05b44;
}                   
.icon-pinterest{
    background-color: #9c0c1c;
}                  
.icon-linkedin{
    background-color: #0da6be;
}
.icon-dribbble{
    background-color: #ea4c89;
}
.footer__bottom{
    padding: 60px 0px;
    background-color: #192027;
}
.footer__copy{
    text-align: center;
    font-size: 15px;
    color: #999;
    a{
        font-size: 15px;
        color: #fff;
    }
}
//end footer


//start category-grid.html
//start search__product
.search__product{
    padding: 85px 0px 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.search__product-form{
    position: relative;
    margin: 0;
    display: inline-block;
    input{
        position: relative;
        border-radius: 28px;
        padding: 15px 125px 15px 30px;
        outline: none;
        width: 555px;
        height: 55px;
        display: inline-block;
        margin: 0;
        border: none;
        &:placeholder{
            color: #898f96;
            font-size: 15px;        
        } 
    }
    button{
        padding: 15px;
        position: absolute;
        width: 110px;
        height: 55px;
        border-radius: 28px;
        background-color: $blue;
        border: none;
        outline: none;
        top: 0;
        right: 0;
        color: #fff;
    }
}
.search__product-title{
    font-size: 26px;
    color: #f3f3f8;
    margin-bottom: 30px;
    span{
       font-weight: 500; 
    }
}
//end search__product
//start product-category
.product-category{
    background-color: $bgdark;
    padding: 80px 0px 120px;
}
.product-category__inner{
    display: flex;
    justify-content: space-between;  
}
.product-category__aside{
    margin-right: 30px;
}
.product-category__aside-item{
    padding: 30px 30px 34px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow:0px 2px 2px rgba(108,111,115,0.1);
    width: 263px;
    & + .product-category__aside-item{
        margin-top: 29px;
    }
}
.product-category__title{
    font-size: 20px;
    color: #010101;
    padding-bottom: 25px;
    position: relative;
    &::before{
        content: "\e874";
        font-family: 'Linearicons-Free';
        position: absolute;
        top: 4px;
        right: 0;
        font-size: 12px;
        color: $text;
    }
    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 202px;
        height: 1px;
        background-color: #e7ebee;
    }
}
.product-category__aside-list{
    margin-top: 30px;
    li{
        font-size: 15px;
        line-height: 36px;
        color: $text;
        padding-left: 18px;
        position: relative;
    }
    .lnr-chevron-right{
        position: relative;
        a{
            &:hover{
                color: $blue;
            }
        }
        &::before{
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
        }
        span{
            position: absolute;
            right: 0;
            top: 0;
            color: #747b86;
        }
    }    
}
.filter__aside-list{
    li{
        color: #747b86;
        position: relative;
        padding-left: 20px;
        &::before{
            content: '';
            background-image: url(../images/aside__list-icon.png);
            height: 13px;
            width: 13px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
}
.irs-min,
.irs-max{
    display: none;
}
.irs--flat{
    & .irs-line{
    top: 36px;
    height: 6px;
    background-color: #efedf3;
    border-radius: 3px;
    }
    & .irs-bar {
        top: 36px;
        height: 6px;
        background-color: #7347c1;
        border-radius: 3px;
    }
    & .irs-handle {
        top: 30px;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background-color: #ffffff;
        border: 4px solid #0674ec;
        cursor: pointer;
    }
    & .irs-handle>i:first-child{
        display: none;
    }
    &.irs-with-grid {
        height: 130px;
    }
}
.irs-with-grid .irs-grid {
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: $violet;
    font-size: 15px;
    line-height: 32px;
    text-shadow: none;
    padding: 0;
    background-color: #f1ecf9;
    border-radius: 16px;
    text-align: center;
    width: 80px;
    height: 32px;
    top: 68px;
    &::before{
        display: none;
    } 
}
.irs-from{
    margin-left: 30px;
}
.product-category__btn{
    width: 170px;
    height: 44px;
    border-radius: 22px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.1);
    background-color: $blue;
    text-align: center;
    border: none;
    outline: none;
    margin: 0 auto;
    color: #fff;
    padding: 15px;
    display: block;
}
//end product-category
//start sorting
.sorting{
    padding: 28px 0px;
    background-color: #fff;
    box-shadow:0px 2px 2px rgba(108,111,115,0.1);
}
.sorting__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        border: none;
        background-color: transparent;
        color: $text;
        padding: 0;
        font-size: 16px;
        line-height: 16px;
        outline: none;
        &.active{
            color: $blue;
        }
        & + button{
            margin-left: 40px;
        }
    }
    ul{
        bottom: 1px;
        font-size: 14px;
        width: 220px;
        background-color: #ffffff;
        z-index: 2;
        right: 0;
        border: 1px solid #ececec;
        border-top: none;
        li{
            padding: 10px 19px;
            position: relative;
            &::after{
                content: '';
                background-color:#eceff2;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &:hover{
                background-color: #ececec;
            }
            &:first-child{
                &::before{
                    content: '';
                    background-color:#eceff2;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }    
    label{
        width: 220px;
        border-radius: 4px;
        border: 1px solid #eceff2;
        margin-right: 29px;
        padding: 13px 19px 14px;
        font-size: 14px;
        line-height: 14px;
        color: $text;
        position: relative;
        ul{
            bottom: -15px;
            width: 170px;
            right: 15px;
            li{
                padding: 10px 15px;
            }
        }
        .jq-selectbox__select{
            position: absolute;
            border: none;
            color: #747b86;
            width: 154px;
            height: 40px;
            padding: 0;
            border-bottom-color: transparent;
            border-radius: 4px;
            background:#FFF;
            box-shadow: none;
            font: 14px 'Quicksand',sans-serif;
            text-shadow: none;
            top: -25px;
            left: 0;
        }
        .jq-selectbox__select-text{
            padding: 13px 0px;
            position: absolute;
            top: 0;
            line-height: 14px;
        }
        
        
    }
    .sorting__view{
        & .jq-selectbox__select {
            width: 220px;
            height: 42px;
            padding: 0;
            border: 1px solid #eceff2;
            border-bottom-color: #eceff2;
            border-radius: 4px;
            background: #FFF;
            box-shadow: none;
            font: 14px 'Quicksand',sans-serif;
            color: #747b86;
            text-shadow: none;
            margin-right: 29px;
            padding: 10px 19px;
        }
    }
}
.sorting__inner-title{
    font-size: 24px;
    color: #000;
    span{
        font-weight: 500;
    }
}
.sorting__filter-btn{
    max-width: 143px;
    width: 100%;
    position: relative;
    padding: 10px 30px;
    transition: all .5s;
    &::before,
    &::after{
        content: '';
        width: 1px;
        height: 100px;
        background-color:#eceff2;
        position: absolute;
        top: -28px;
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }
    ul{
        bottom: -10px;
        font-size: 16px;
        width: 140px;
        right: 28px;
    }
    .jq-selectbox__select-text{
        margin: 0;
    }
    .jq-selectbox__trigger{
        top: -9px;
        right: -18px;
    }  
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: none;
    &::before{
        content: "\e874";
        font-family: 'Linearicons-Free';
        position: absolute;
        font-size: 10px;
        top: 14px;
        right: 20px;
    }
}
.jq-selectbox__trigger-arrow{
    display: none;
}
.jq-selectbox__dropdown{
    font: 14px 'Quicksand',sans-serif;
}

.sorting__btn{
    align-items: center;
    display: flex;
}
.sorting__icons{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #eceff2;
    padding: 10px 20px;
    bottom: 0;
    button{
        outline: none;
        svg{
            color: #747b86;
        }
        &.active{
            svg{
                color: $blue;
            }
        }    
    }
    button + button{
        margin-left: 15px;
    } 
}
.product__category-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__category-item{
    max-width: 262px;
    margin-bottom: 30px;
    transition: all .5s;
    .product__category-item__img{
        min-height: 160px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
    }
    .slider__content{
        padding: 16px 20px 19px;
        background-color: #fff;
        box-shadow: 0px 2px 2px rgba(108,111,115,0.1);
        color: #000;
        width: 100%;
        position: relative;
    }
    h3{
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
    }
    p{
        display: none;
    }
    .slider__item-user{
        font-size: 15px;
        line-height: 30px;
        position: relative;
        padding-left: 34px;
        margin-right: 20px;
        margin-bottom: 20px;
        color: #000;
        display: block;
        span{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .rate-star__box{
        display: inline-block;
        span{
            display: none;
        }
    }
    .rate-star{
        display: inline-block;  
    }
    .lnr-cart{
        position: absolute;
        right: 20px;
    }
    .slider__box-icon{
        color: $blue;
        span{
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
            color: $blue;
            &:hover{
                color: $blue;
            }
        }    
    }
    .slider__box{
        position: relative;
        padding-top: 15px;
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lnr-cart{
            display: none;
        }
        &::before{
            content: '';
            width: 100%;
            height: 1px;
            background-color: #ececec;
            position: absolute;
            top: 0px;
        }
    }
    .slider__item-price {
        color: $blue;
        background-color: #e6f1fd;
    }
    .slider__content-box{
        .slider__item-category{
            display: none;
        }
    }
    .lnr-heart,
    .lnr-bubble{
        display: none;
    }
    
}
.product__category-item{
    &.list{
        min-width: 100%; 
        display: flex;
        justify-content: space-between;
        .product__category-item__img{
            min-width: 230px;
        }
        .slider__content-box{
            max-width: 260px;
            position: relative;
            padding-left: 20px;
            padding-right: 30px;
            .slider__item-category{
                display: block;
            }
            &::after{
                content: '';
                position: absolute;
                height: 150px;
                width: 1px;
                background-color: #ececec;
                top: 0;
                right: 0;
            }
        }
        .slider__content{
            max-width: 100%;
            padding: 30px 0px;
            display: flex;
            p{
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
                
            }
            
        }
        .slider__item-user__box{
            max-width: 205px;
            width: 100%;
            padding-left: 20px;
            padding-right: 30px;
            .lnr-cart{
                display: none;
            }
        }
        .slider__item-user {
            font-size: 15px;
            line-height: 30px;
            position: relative;
            padding-left: 37px;
            margin-right: 20px;
            margin-bottom: 20px;
            color: #000;
            display: block;
        }
        .slider__box{
            max-width: 150px;
            position: relative;
            margin-top: 0;
            display: block;
            padding: 40px 30px 40px 20px;
            text-align: center;
            &::before{
                content: '';
                height: 150px;
                width: 1px;
                background-color: #ececec;
                position: absolute;
                top: 0px;
                left: 0;
            }
            .slider__item-category{
                display: none;
            }
            .lnr-cart{
                display: block;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .lnr-heart,
        .lnr-bubble{
            display: block;
            color: #6f7d8d;
            margin-bottom: 15px;
            &::before{
                font-size: 15px;
                color: $violet;
            } 
            span{
                color: #6f7d8d;
            }
        }
        .rate-star__box{
            span{
                display: inline-block;
            }
        }
        .slider__item-price{
            width: 100px;
            height: 30px;
            border-radius: 15px;
            background-color: #e6f1fd;
            color: $blue;
            text-align: center;
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
}

.pagination{
    margin-top: 30px;
    position: relative;
}
.pagination__list{
    position: absolute;
    right: 0;
    li{
        display: inline-block;
        width: 50px;
        height: 38px;
        padding: 11px;
        background-color: #fff;
        border-radius: 19px;
        text-align: center;
        & + li{
            margin-left: 5px;
        }
        &:first-child{
            margin-right: 20px;
        }
        &:last-child{
            margin-left: 20px;
        }
        a{
            color: #747b86;
        }
        &.active{
            background-color: $blue;
            a{
                color: #fff;
            }  
        }
    }
    .lnr-arrow-left,
    .lnr-arrow-right{
        font-family: 'Linearicons-Free';
        font-size: 16px;
        color: #000;
    }
    .lnr-arrow-right{
        background-color: $violet;
        color: #fff;
    }
}
//end sorting
//start join
.join{
    padding: 110px 0px;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.join__title{
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}
.join__text{
    font-size: 18px;
    color: #e7e7e7;
    margin-bottom: 50px;
}
//end join
//end category-grid 

//start product-single
//start breadcrumbs
.breadcrumbs__section{
    padding: 55px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.breadcrumbs__title{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
}
//end breadcrumbs
//start product
.product{
    background-color: $bgdark;
}
.product__inner{
    display: flex;
    justify-content: space-between;
    padding: 70px 0px 120px;

}
.product__main{
    margin-right: 15px;
    max-width: 750px;
}
.product__main-article{
    margin-bottom: 28px;
    border-radius: 4px;
    box-shadow:0px 2px 2px rgba(108,111,115,0.1);
    img{
        height: 430px;
        width: 100%;
        display: block;
    }   
}
.product__main-content{
    background-color: #fff;
    text-align: center;
    padding: 30px;
}
.product__main-article__btn{
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ececec;
        bottom: 0;
        left: 0;
    }
    .btn{
        height: 50px;
        border-radius: 25px;
        background-color: #fff;
        color: $violet;
        margin: 0 15px;
        display: inline-block;
        padding: 12px;
        line-height: 21px;
        &:hover{
            background-color: $blue;
            color: #fff;
        }
    }
    button{
        border: none;
        position: relative;
        &::before{
            position: absolute;
            font-family: 'Linearicons-Free';
            content: "\e813";
            left: 10px;
        }
    }
}
.product__main-article__social{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
        height: 50px;
        border-radius: 25px;
        background-color: #fff;
        color: #000;
        font-size: 15px;
        display: inline-block;
        padding: 12px;
        line-height: 21px;
        position: relative;
        margin-right: 20px;
        &::before{
            content: url(../images/share-icon.svg);
            position: absolute;
            width: 20px;
            height: 21px;
        }
        a{
            padding-left: 40px;
            color: #000;
        }
    }
    a{
        &::before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        & + a{
            margin-left: 10px;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            color: #fff;
            position: relative;
        }
    }
}
.product__main-tabs{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
}
.tabs{
    display: flex;
    text-align: center;
    .tab{
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #e8e8e8;
        font-size: 17px;
        padding: 26px 10px;
        color: #000;
        & + .tab{
            border-left: 1px solid #e8e8e8;
        }
        span{
            font-weight: 500;
        }
        &.active{
            color: $blue;
            border-top: 2px solid $blue;
            border-bottom: none;
        }
    }
}
.tab-item{
    padding: 50px 30px;
    display: none;
    &:first-child{
        display: block;
    }
    .tab-item__title{
        font-size: 24px;
        line-height: 35px;
        color: #000;
        margin-bottom: 25px;
    }
}
.tab-item__info{
    padding: 30px 0px;
    .tab-item__title{
        font-size: 28px;
        
    }
}
.tab-item__list{
    padding: 30px 0px;
    li{
        line-height: 34px;
        position: relative;
        padding-left: 30px;
        &::before{
            content:url(../images/marker-icon.svg);
            position: absolute;
            left: 0;
        }
    }
}  
ol{
    counter-reset: myCounter;
    margin: 0;
    padding: 30px 0;
    li{
        list-style: none;
        line-height: 34px;
    }
    li:before {
        counter-increment: myCounter;
        content:counter(myCounter);
        display: inline-block;
        width: 30px;
        font-weight: 500;
        color: #000;
    }
}
.tab-item__features{
    padding: 30px 0;
    img{
        width: 100%;
        min-height: 1000px;
    }
    
}
.product__aside{
    margin-left: 15px;
    max-width: 360px;
}
.product__aside-purchase{
    font-weight: 500;
    color: $grey;
    padding-bottom: 10px;
    background-color: #fff; 
    margin-bottom: 30px;
}
.aside__purchase-price{
    background-color: $blue;
    color: #fff;
    padding: 35px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 30px;
    span{
        font-size: 36px;
        position: relative;
        &::before{
            content: '$';
            position: absolute;
            font-size: 18px;
            top: 9px;
            left: -13px;
        }
    }
}
.aside__purchase-license{
    font-size: 18px;
    line-height: 30px;
    padding: 30px;    
    p{
        margin-top: 25px;
        color: $text;
        font-weight: 400;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #ececec;
            bottom: -30px;
            left: 0;
        }
    }
}
.aside__purchase-btn{
    margin: 30px;
    border: none;
    &.btn{
        width: 300px;
        background-color: $blue;
        color: #fff;
        box-shadow: none;
        &.lnr-cart{
            font-family: 'Linearicons-Free';
            background-color: $violet;
            position: relative;
            &::before{
                position: absolute;
                left: 80px;
            }
        }
    } 
}
.product__aside-statistic{
    background-color: #fff;
    padding: 10px 30px 40px;
    margin-bottom: 30px;
    a{
        color: $text;
        display: block;
        position: relative;
        padding-left: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        &::before{
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
        }
        &::after{
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #ececec;
            bottom: 0;
            left: 0;
        }
        span{
            position: absolute;
            right: 0;
            color: $grey;
            font-weight: 500;
        }
    }
    .lnr-cart{
        &::before{
            color: $blue;
        }
    }
    .lnr-heart{
        &::before{
            color: $violet;
        }   
    }
    .lnr-bubble{
        &::before{
            color: #58c9e9;
        } 
    }
    .rate-star__box{
        text-align: center;
        margin-top: 30px;
    }
    .rate-star{
        display: inline-block;
        span{
            font-size: 15px;
            color: #7e7e7e;
        }
    }
}
.product__aside-info,
.product__aside-author{
    background-color: #fff;
    padding: 40px 30px;
    margin-bottom: 30px;
}
.product__aside-title,
.aside__author-title{
    font-size: 20px;
    color: #000;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
    &::after{
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ececec;
        bottom: 0;
        left: 0;
    }
}
.aside__info-item{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    line-height: 36px;
}
.aside__info-item__title{
    width: 140px;
    font-weight: 500;
    color: $grey;
}
.aside__info-item__subscribe{
    width: 165px;
}
.product__aside-author{
    text-align: center;
}
.aside__author-title{
    padding-bottom: 20px;
    &::after{
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ececec;
        bottom: 0;
        left: 0;
    }
}
.aside__author-photo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.aside__author-name{
    color: #000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.aside__author-date{
    color: #7e7e7e;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}
.aside__author-social{
    margin-bottom: 30px;
    a{
        font-size: 16px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        color: #fff;
        position: relative;
        & + a{
            margin-left: 13px;
        }
        &::before{
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
}
.aside__author-btn{
    a{
        width: 140px;
        height: 44px;
        border-radius: 22px;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
        background-color: $blue;
        text-align: center;
        padding: 12px;
        line-height: 21px;
        color: #fff;
        cursor: pointer;
        & + a{
            margin-left: 15px;
        }
    }
    .violet__btn{
        background-color: $violet;
    }
}

//end product
//start items__mini
.items__mini{
    padding: 120px 0px;
    background-color: $bglight;
}
.items__mini-inner{
    display: flex;
    justify-content: space-between;
}
.items__mini-title{
    font-size: 30px;
    line-height: 30px;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
    a{
        color: $blue;
    }
}
.items__mini-item{
    max-width: 360px;
    background-color: #fff;
    p{
        padding: 30px 0px;
        line-height: 30px;
        position: relative;
        &::after{
            content: '';
            height: 1px;
            width: 100%;
            background-color: #ececec;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .lnr-heart{
        font-size: 15px;
        color: $violet;
        font-family: 'Linearicons-Free';
        margin-right: 17px;
        span{
            color: #6f7d8d;
            font-size: 15px;
        }
    }
    .lnr-cart{
        font-family: 'Linearicons-Free';
        color: $blue;
        
    }
}
.items__mini-item__img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 229px;
    width: 100%;
}
.items__mini-content{
    padding: 30px 30px 15px;
}
.items__mini-item__title{
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    font-weight: 500;
}
.items__mini-user{
    font-size: 15px;
    color: #000;
    margin-right: 15px;
    padding-left: 34px;
    position: relative;
    span{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        top: -7px;
        left: 0;
    }
}
.items__mini-category{
    font-size: 15px;
    color: $violet;
    padding-left: 25px;
    position: relative;
    span{
        height: 15px;
        width: 15px;
        position: absolute;
        left: 0;
    }
}
.items__mini-item-price{
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #e6f1fd;
    color: $blue;
    padding: 8px;
    text-align: center;
    margin-right: 17px;
}
.items__mini-item__box{
    padding-top: 15px;
    div{
        display: inline-block;
    }
}
.rate-star{
    margin-right: 41px;
}
//end items__mini
//end product-single

//start page-favourites
.favourites{
    .product__category-item{
        max-width: 360px;
        width: 100%;
        .product__category-item__img{
            min-height: 230px; 
        }
        .slider__content{
            padding: 30px 30px 18px;
        }
        h3{
            font-size: 20px;
        }
        p{
            display: block;
            margin: 35px 0;
            line-height: 24px;
        }
        .slider__item-user__box{
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
        }
        .slider__item-user{
            margin-right: 30px;
            margin-bottom: 0;
        }
        .slider__box{
            margin-top: 0;
            padding-top: 17px;
            display: inline-block;
            .slider__item-category{
                display: none;
            }
        }
        .slider__content-box{
            .slider__item-category{
                display: block;
            }
        } 
        .lnr-heart,
        .lnr-cart{
            display: inline-block;
        } 
        .slider__item-price{
            padding: 6px 17px;
            margin-right: 17px;
        }
        .lnr-heart{
            color: $violet;
            span{
                color:#6f7d8d;
                margin-left: 7px;
                margin-right: 15px;
            }  
        }
        .lnr-cart{
            right: 0;
            position: inherit;
        } 
        .rate-star.jq-ry-container{
            margin-right: 29px;
        }
    }
    .pagination{
        margin-top: 0px;
        position: inherit;
    }
    .pagination__list{
        position: inherit;
        max-width: 385px;
    }
}
//end page-
//start page-login
.login{
    padding: 70px 0px 120px;
    background-color: $bgdark;
}
.login__form{
    max-width: 555px;
    padding: 60px 50px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(108,111,115,0.1);
    label{
        color: #000;
        font-weight: 500;
    }
    input[type=radio]{
        display: none;  
        &:checked + .radio::before{
            opacity: 1;
        }
    } 
    .radio{
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 50%;
        &::before{
            content: url(../images/radio-btn.svg);
            position: absolute;
            top: -3px;
            left: -3px;
            opacity: 0;
        }  
    }
    .btn{
        height: 50px;
        background-color: $blue;
        color: #fff;
        border: none;
        display: block;
        font-weight: 500;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    span{
        color: #898f96;
        a{
            color: $blue;
        }
    }
    span + span{
        margin-left: 22px;
    }
}
.login__form-title{
    font-size: 26px;
    line-height: 28px;
    color: #000;
    margin-bottom: 25px;
    text-align: center;
}
.login__form-subtitle{
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 20px;
    &::after{
        content: '';
        position: absolute;
        height: 1px;
        width: 555px;
        background-color: #ececec;
        bottom: 0;
        left: -50px;
    }
}

.login__form-input{
    display: block;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 15px 20px;
    max-width: 455px;
    width: 100%;
    background-color: #f4f5f8;
    border: none;
    &::placeholder{
        color: #898f96;
    }
}
//end page-login